<div id="react-app-container">
  <%= javascript_pack_tag 'map_react' %>
</div>

<footer>
  Genetic Algorithms learning to navigate the bumpy world of startups, by <a href="https://www.romenrg.com">romenrg</a>
</footer>

