<header>
  <h1>Genetic Startups</h1>
</header>

<div id="main">
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find the React stuff in app/javascript/packs/map_react.jsx</p>
  <%= javascript_pack_tag 'map_react' %>
</div>

<%= content_tag :div,
  id: "map_props",
  numRows: @numRows,
  numCols: @numCols do %>
<% end %>

<footer>
  Genetic Startups
</footer>

