<div id="react-app-container">
  <%= javascript_pack_tag 'map_react' %>
</div>

<%= content_tag :div,
  id: "map_props",
  numRows: @map.num_rows,
  numCols: @map.num_cols,
  cells: @map.cells do %>
<% end %>

<footer>
  Genetic Algorithms learning to navigate the bumpy world of startups, by <a href="https://www.romenrg.com">romenrg</a>
</footer>

