// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

header {
  padding: 1rem;
}

#main {
  padding: 1rem;
  .map {
    padding: 1rem;
    background: cornflowerblue;
  }
}

footer {
  padding: 1rem;
}