// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 0;
}

header {
  height: 3rem;
  padding: 1rem 0.5rem;
  background: #24292e;
  color: #fff;
  h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.5rem;
  }
}

#main {
  padding: 1rem;
  .map {
    padding: 1rem;
    background: cornflowerblue;
    .grid {
      .row {
        border-top:    1px solid  #ddd;
        border-left:   1px solid  #ddd;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        align-items: flex-start;
        display: flex;
        .col {
          flex: 1;
          height: 40px;
          border-right:  1px solid #ddd;
        }
      }
      .row:last-child {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

footer {
  padding: 1rem;
  border-top: 1px solid #e1e4e8;
  color: #586069;
}